* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(248, 248, 248);
}
body .reports-query-cont {
  margin: 2rem 5rem;
}
body .reports-query-cont .filter-select-cont {
  margin-bottom: 1rem;
}
body .reports-query-cont .filter-select-cont select {
  height: 2rem;
  padding: 0.25rem 0.5rem;
}
body .reports-query-cont label {
  display: block;
  margin-bottom: 0.5rem;
}
body .reports-query-cont input:not(input[type=submit]) {
  font-size: 0.9em;
  border: 2px solid #e4e4e8;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  outline: none;
  margin-bottom: 1rem;
  width: 20rem;
}
body .reports-query-cont input:not(input[type=submit])::-moz-placeholder {
  color: rgb(207, 207, 207);
}
body .reports-query-cont input:not(input[type=submit])::placeholder {
  color: rgb(207, 207, 207);
}
body .reports-query-cont select {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 2px solid #e4e4e8;
}
body .reports-query-cont .form-actions input[type=submit] {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}
body .reports-query-cont .form-actions input[type=submit].filter-btn {
  background-color: green;
  color: white;
  margin-right: 1rem;
}
body .reports-query-cont .form-actions input[type=submit].filter-btn:hover {
  background-color: rgb(0, 150, 0);
}
body .reports-query-cont .form-actions input[type=submit].cancel-btn {
  background-color: rgb(232, 232, 232);
  color: black;
}
body .reports-query-cont .form-actions input[type=submit].cancel-btn:hover {
  background-color: rgb(214, 214, 214);
}
body .reports-cont {
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 0px 18px -3px rgba(0, 0, 0, 0.08);
  margin: 2rem 5rem;
}
body .reports-cont .table-cont .header-container {
  padding: 1.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .reports-cont .table-cont .header-container .table-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
body .reports-cont .table-cont .header-container .table-header h3 {
  font-size: 1.775em;
}
body .reports-cont .table-cont .header-container .table-header p {
  font-size: 0.9em;
  color: rgb(150, 150, 150);
  margin-top: 0.6rem;
}
body .reports-cont .table-cont .header-container .table-header .count-cont {
  font-size: 0.8em;
  background-color: rgba(0, 219, 0, 0.177);
  color: green;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 10px;
}
body .reports-cont .table-cont table {
  border-collapse: collapse;
  width: 100%;
}
body .reports-cont .table-cont table td,
body .reports-cont .table-cont table th {
  padding: 0.9rem 1.5rem;
  text-align: left;
}
body .reports-cont .table-cont table th {
  background-color: #F9FAFC;
  color: rgb(72, 72, 72);
}
body .reports-cont .table-cont table td {
  color: rgb(99, 99, 99);
  border-bottom: 1px solid rgb(224, 224, 224);
}
body .reports-cont .table-cont table .td-title-name {
  max-width: 30rem;
}
body .reports-cont .table-cont table .table-row:hover {
  background-color: rgb(250, 250, 250);
}/*# sourceMappingURL=Reports.css.map */