* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    .dashboard-cont {
        margin: 3rem 5rem;

        .dash-bkg {
            z-index: -1;
            position: absolute;
            top: calc(0px - 3rem);
            bottom: 0;
            left: calc(0px - 5rem);
            right: 0;
            filter: blur(3px);

            img {
                height: 100%;
                width: 100%;
            }

            .bkg-overlay {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: green;
                opacity: 50%;
            }
        }

        h1 {
            font-size: 2.25em;
            margin-bottom: 2rem;
            color: white;
        }

        .navigation-panels {
            display: flex;
            gap: 3rem;
            justify-content: center;

            .panel-cont {
                display: flex;
                flex-direction: column;
                height: 30rem;
                width: 20rem;
                border: 1px solid rgba(128, 128, 128, 0.162);
                padding: 2rem 1.25rem;
                border-radius: 10px;
                box-shadow: 2px 5px 10px rgba(45, 45, 45, 0.09);
                overflow: hidden;
                background-color: white;

                img {
                    height: 20rem;
                    object-fit: contain;
                    margin-bottom: 1rem;
                }

                h2 {
                    flex: 1;
                    margin-bottom: 0.5rem;
                }

                p {
                    flex: 1;
                    font-size: 0.9em;
                    color: gray;
                    margin-bottom: 1rem;
                }

                button {
                    flex: 0.5;
                    background-color: green;
                    border: none;
                    color: white;
                    padding: 0.75rem 1rem;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(0, 146, 0);
                    }
                }
            }
        }
    }
}