* {
    font-family: 'Roboto', sans-serif;
}

body {
    .upload-cont {
        padding: 5rem;
        display: flex;
        gap: 5rem;
        align-items: center;

        .icon-cont {
            height: 30rem;

            svg {
                height: 100%;
            }
        }

        form {
            input {
                display: block;
                margin-bottom: 2rem;
            }

            input[type=submit] {
                padding: 0.7rem 1rem;
                border: none;
                background-color: green;
                color: white;
            }
        }
    }
}